<style>
    img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
    video{
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
</style>
<div class="display">
    <a href="full/{{id}}">
    {% comment %} Django doesn't do switches apparently, so that's a bummer. Need to go yanderedev for this {% endcomment %}
    {% if fileType == 0 %}
    
        <img 
            src="/image/{{id}}"
            height={{height}}
            width={{width}}
        >
    {%endif%}

    {% if fileType == 1 %}
    <video 
        controls
        loop
        poster="/thumbnail/{{id}}"
        height={{height}}
        width={{width}}
        src="/image/{{id}}"
        type={{mime}}
    >
        Video not supported by your browser.
    </video>
    {%endif%}

    {% if fileType == 2 %}
    <audio 
        src="/image/{{id}}"
        type={{mime}}
    >
        Audio not supported by your browser.
    </audio>
    {%endif%}

    {% if fileType == 3 %}
    FLASH: Sorry, flash is not currently supported
    {% endif %}

    {% if fileType == 4 %}
    <embed 
        src="/image/{{id}}"
        type="{{mime}}"
    >
    {%endif%}
</a>
</div>